@use '../util/variables' as v;
@use '../util/breakpoints' as b;

nav[id='mobile-navbar']{
    background: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: v.$headerHeight;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include b.up(md){
        display: none;
    }

    a{
        display: flex;
        flex-direction: column;
        place-content: center;
        color: white;
    }
}

nav[id='desktop-navbar']{
    display: none;
    @include b.up(md){
        display: grid;
        gap: 20px;
        padding: 10px 16px 0;
    }

    a{
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: black;
        padding: 10px 14px;
        border-radius: 5px;
    }
}