@use '../util//variables' as v;
@use '../util//breakpoints' as b;

table{
  border-collapse: collapse;
  // color: #FAFAFA;
  width: 100%;
}
thead{
  position: sticky;
  top: 0;
  // background-color: #242424;
  background-color: #f6f6f6;
}
tr{
  border-bottom: 1px solid #777;
}
tbody tr:nth-child(even){
  // background: #202737;
}
th[scope="col"]:nth-child(n+2){
  text-align: center;
}
th[scope='col']{
  font-size: .8rem;
}
th[scope="row"]{
  display: flex;
  align-items: center;
  gap: 5px;
}
th,td{
  text-align: left;
  padding: 5px 8px;
  font-weight: 200;
}
tbody td{
  text-align: center;
}

.conference{
  padding: 5px 8px;
}

.team-logo-table{
  width: 20px;
}
.team-name{
  display: none;
  @include b.up(md){
    display: block;
  }
}
.team-code{
  @include b.up(md){
    display: none;
  }
}