#teams-logo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .team-logo{
        width: 90px;
    }
}

#team-stats-banner{
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid;
}
#team-stats-logo{
    width: 100px;
}