/* Use: To reset html elements default styles to the way I like and create predefined classes */
@use '../util//variables' as v;
button{
    cursor: pointer;
    border: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

.container{
    padding: 0 v.$containerPadding-X;
}