/* Use: To reset html elements default styles to the way I like and create predefined classes */

button{
    cursor: pointer;
    border: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

.container{
    padding: 0 15px;
}