nav[id=mobile-navbar] {
  background: black;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (width > 768px) {
  nav[id=mobile-navbar] {
    display: none;
  }
}
nav[id=mobile-navbar] a {
  display: flex;
  flex-direction: column;
  place-content: center;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f6f6f6;
  z-index: 9999;
}

tr {
  border-bottom: 1px solid #777;
}

th[scope=col]:nth-child(n+2) {
  text-align: center;
}

th[scope=col] {
  font-size: 0.8rem;
}

th[scope=row] {
  display: flex;
  align-items: center;
  gap: 5px;
}

th, td {
  text-align: left;
  padding: 5px 8px;
  font-weight: 200;
}

tbody td {
  text-align: center;
}

.conference {
  padding: 5px 8px;
}

.team-logo-table {
  width: 20px;
}

.team-name {
  display: none;
}
@media (width > 768px) {
  .team-name {
    display: block;
  }
}

@media (width > 768px) {
  .team-code {
    display: none;
  }
}

#season-selection {
  z-index: 9999;
  position: fixed;
  top: 18px;
  right: 15px;
  outline: none;
  border: none;
  background: black;
  color: white;
  padding: 1px;
  font-size: 0.9rem;
  border-radius: 3px;
}
@media (width > 768px) {
  #season-selection {
    display: none;
  }
}

#games-container {
  display: flex;
  gap: 30px;
  overflow: scroll;
  padding-bottom: 5px;
}

.game-card {
  width: 200px;
  flex-shrink: 0;
  border: 1px solid;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 3px 0px 2px hsl(0, 0%, 0%);
}
.game-card__status {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.game-card__team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game-card__team div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}
.game-card__team div:nth-child(1) img {
  width: 40px;
  aspect-ratio: 1/1;
}

.game-won {
  font-weight: bold;
}

/* Use: Handles global style */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-wrap: nowrap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

main {
  height: calc(100% - 55px * 2);
  overflow: scroll;
}
@media (width > 768px) {
  main {
    height: 100%;
  }
}

#app {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  height: 55px;
  z-index: 999;
}

header[id=main-header] {
  border-bottom: 1px solid;
  position: sticky;
  top: 0;
  background-color: #f6f6f6;
}

header h1 {
  font-size: 1rem;
}

#panel {
  background-color: white;
}

/* Use: To reset html elements default styles to the way I like and create predefined classes */
button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  padding: 0 15px;
}

@media (width > 992px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

#standings-ui {
  position: relative;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */